<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationUpdateCompleteKey" value="" />

    <!-- Custom parameters -->
    <add key="DeleteExistingFiles" value="True" />
    <add key="IgnoredFolders" value="Logs" />
    <add key="IgnoredFilePatterns" value="LogonParameters;*.log;DevExpress.ExpressApp.Updater.pdb" />
  </appSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
</configuration>
